/* Shared variables */
:root {
    --anchor-color: #0000EE;
}

/* Anchor (hyperlink) colors */
a:link {
    color: var(--anchor-color);
}

a:active {
    color: var(--anchor-color);
}

a:visited {
    color: var(--anchor-color);
}

a:hover {
    color: var(--anchor-color);
}

/* Form input fields */
input, textarea {
    padding: 2px;
    margin: 2px;
    text-align: left;
}

/* Form input labels */
label {
    padding: 2px;
    margin: 2px;
    text-align: left;
}

label.configuration {
    display: block;
}

label.scrobble {
    display: inline;
}

/* Feedback divs */
div.scrobbleDate {
    display: inline-block;
}

div.requestError {
    background: #fff0f4 !important;
    box-shadow: 1px 1px 1px black !important;
    border: grey solid 1px !important;
    display: inline-block !important;
    margin-bottom: 10px !important;
}