<!doctype html>
<html lang="en">
<head>
    <title>${app.name}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/scrobble.js"></script>
</head>
<body>
<h1>Scrobble release</h1>
{{#release}}
    {{#basicInformation}}
        {{#thumbnail}}<img alt="Cover image thumbnail" src="{{thumbnail}}" height="150"/><br/>{{/thumbnail}}
        <b>{{artist}} - {{title}} ({{format}}{{#year}}, {{year}}{{/year}})</b>
    {{/basicInformation}}

    <p>Select tracks to scrobble</p>
    {{#releaseParts}}
        <ul>
            {{#allTracks}}
                <li>
                    {{position}}: {{artist}} - {{title}}{{#duration}} ({{duration}}){{/duration}}
                </li>
            {{/allTracks}}
        </ul>
    {{/releaseParts}}
    <button id="scrobbleButton" onclick="scrobble({{basicInformation.discogsId}})">Scrobble selected tracks</button>
    <br/><br/>
    <div id="scrobbleResultFeedback"><!-- scrobble.js updates this DIV with feedback --></div>
{{/release}}
</body>
</html>
