<!doctype html>
<html lang="en">
<head>
    <title>${app.name}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script type="text/javascript" src="/scrobble.js"></script>
</head>
<body>
<h1>Scrobble release</h1>
{{#release}}
    {{#basicInformation}}
        {{#thumbnail}}<img alt="Cover image thumbnail" src="{{thumbnail}}" height="150"/><br/>{{/thumbnail}}
        <b>{{artist}} - {{title}} ({{format}}{{#year}}, {{year}}{{/year}})</b>
    {{/basicInformation}}

    <p>Select tracks to scrobble</p>
    <form id="scrobbleRequestForm" method="post" action="/app/collection/scrobble">
        <input type="hidden" name="discogsId" value="{{basicInformation.discogsId}}">
        {{#releaseParts}}
            <ul>
                {{#allTracks}}
                    <li>
                        <input type="checkbox" name="selectedTrack" id="{{position}}" value="{{position}}">
                        <label class="scrobble" for="{{position}}">{{position}}: {{artist}} - {{title}}{{#duration}} ({{duration}}){{/duration}}</label>
                    </li>
                {{/allTracks}}
            </ul>
        {{/releaseParts}}
        <label for="scrobbleDate">When was the <b>last track</b> played (end time)?</label>
        <input type="datetime-local" name="lastTrackEndedAt" id="scrobbleDate" value="{{currentLocalDateTime}}" max="{{currentLocalDateTime}}" required />
        <br/>
        <button id="scrobbleButton" onclick="scrobble()">Scrobble selected tracks</button>
    </form>
    <br/><br/>
    <div id="scrobbleResultFeedback"><!-- scrobble.js updates this DIV with feedback --></div>
{{/release}}
</body>
</html>
