<!doctype html>
<html lang="en">
<head>
    <title>${app.name}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<h1>Music Collection</h1>
{{#isSearch}}
    <form>
        <label for="searchQuery">Search: </label>
        <input id="searchQuery" name="query" placeholder="Search for releases" type="text" value="{{SearchQuery}}">
    </form>
{{/isSearch}}
{{^releaseCollection.releases.isEmpty}}
<p>Select release to scrobble</p>
<ul>
    {{#releaseCollection}}
        {{#releases}}
            <li>
                {{artist}} - {{title}} ({{format}}{{#year}}, {{year}}{{/year}}) <a href="/app/collection/release?id={{discogsId}}">Select</a>
            </li>
        {{/releases}}
    {{/releaseCollection}}
</ul>
{{/releaseCollection.releases.isEmpty}}
</body>
</html>
